{% if nav_items %}
	<div class="nav-mobile__toggle js-mobile-nav-toggle">
		<div class="nav-mobile__toggle__icon--open">
			{% include "assets/images/hamburger.svg" %}
		</div>
		<div class="nav-mobile__toggle__icon--close">
			{% include "assets/images/close.svg" %}
		</div>
	</div>
	<div class="nav-mobile js-mobile-nav {{ classes }}">
		<ul class="container">
			{% for item in nav_items %}
				<li class="nav-mobile__item {{loop.last ? '' : 'mb-2'}} {{ item.children ? 'nav-mobile__item--dropdown' }} {{ item.classes|join(' ') }} lg:ml-4">
					{% if not item.children %}
						<a class="nav-mobile__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
					{% else %}
						<div data-toggle="{{item.slug}}-mobile-dropdown" class="nav-mobile__dropdown-toggle js-mobile-dropdown-toggle">
							{{ item.title }}
							{% include 'assets/images/chevron-down.svg' %}
						</div>
						<div class="nav-mobile__dropdown-menu js-dropdown-menu" aria-labelledby="{{ item.slug }}-mobile-dropdown" id="{{item.slug}}-mobile-dropdown">
							{% for sub_item in item.children %}
								<a class="nav-mobile__dropdown-item {{ sub_item.classes|join(' ') }} {{loop.last == false ? 'mb-2' : ''}}" target="{{ sub_item.target }}" href="{{ sub_item.link }}">{{ sub_item.title }}</a>
							{% endfor %}
						</div>
					{% endif %}
				</li>
			{% endfor %}

			{% if site.multilingual and site.multilingual.languages|length > 1 %}
				<li class="nav-mobile__languages mt-3">
					<div class="capitalize nav-mobile__languages__language nav-mobile__languages__language--active">
						<span>{{site.multilingual.current}}</span>
					</div>
					{% for language in site.multilingual.languages %}
						{% if language.slug != site.multilingual.current %}
							<a href="{{language.url}}" class="capitalize nav-mobile__languages__language {{language.slug == site.multilingual.current ? 'nav-mobile__languages__language--active' : ''}} ">
								<span>{{language.slug}}</span>
							</a>
						{% endif %}
					{% endfor %}
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}
