{#
 # Template for a header.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<header class="section-{{ section.acf_fc_layout }} section-{{ section.acf_fc_layout }}-{{ section.post_type }}">
  <h1 class="section-{{ section.acf_fc_layout }}__title section-{{ section.acf_fc_layout }}-{{ section.post_type }}__title">{{ section.title }}</h1>
</header>
