{% extends '@sections/section/section.twig' %}

{% block section_content %}
  <div class="container grid grid-cols-1 md:grid-cols-2 mb-12">
    {% if section.title %}
      <div>
        <h3 class="section-cta__title mb-4">{{section.title}}</h3>
      </div>
    {% endif %}

    <div>
      {% if section.image %}
        <div class="section-cta__image__wrap mb-4">
          {% set image_object = TimberImage(section.image.id) %}
          {{responsive_image(image_object.id, 'cta', 'cta', image_object.alt)}}
        </div>
      {% endif %}

      {% if section.subtitle %}
        <h6 class="mb-4">{{section.subtitle}}</h6>
      {% endif %}
      
      {% if section.content %}
        <p class="mb-4">{{section.content}}</p>
      {% endif %}
      
      {% if section.link %}
        <a class="btn" target="{{section.link.target}}" href="{{section.link.url}}">{{section.link.title}}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}