{#
 # View template for a single content item protected by a password.
 #}

{% extends 'base/base.twig' %}

{% block site_content %}
	<form class="single__password-form single-{{ post.type }}__password-form" action="{{ site.link }}/wp-login.php?action=postpass" method="post">
		<label class="single__password-form__label single-{{ post.type }}__password-form__label" for="pwbox-{{ post.id }}">{{ _x( 'Password:', 'Label for password field in password protected content item', 'turvasatama-theme-v2' ) }}</label>
		<input class="single__password-form__field single-{{ post.type }}__password-form__field" name="post_password" id="pwbox-{{ post.id }}" type="password" placeholder="{{ _x( 'Password:', 'Placeholder for password field in password protected content item', 'turvasatama-theme-v2' ) }}" size="20" maxlength="20" />
		<input class="single__password-form__button single-{{ post.type }}__password-form__button" type="submit" name="Submit" value="{{ _x( 'Submit', 'Label for submit button for form for password protected content item', 'turvasatama-theme-v2' ) }}" />
	</form>
{% endblock %}
