{% extends 'base/base.twig' %}

{% block site_content %}

  <section class="container grid md:grid-cols-3 my-12">
    <div class="md:col-span-2 md:col-start-2">
      <h1>{{post.title}}</h1>
    </div>
  </section>

  {# Hero image section #}
  {% if services_page_fields.hero_image %}
    <section class="container mb-10 md:mb-20">
      <div class="section-hero__image__wrap">
        {% set image_object = get_image(services_page_fields.hero_image.id) %}
        {{responsive_image(image_object.id, 'page-hero-mobile', 'page-hero', image_object.alt)}}
      </div>
    </section>
  {% endif %}

  <section class="container">

    {% if services_page_fields.subtitle %}
      <h2 class="mb-6">{{services_page_fields.subtitle}}</h2>
    {% endif %}


    {% if post.content %}
      <div class="grid lg:grid-cols-3 mb-12">
        <div class="lg:col-span-2 lg:col-start-2">{{post.content}}</div>
      </div>
    {% endif %}
  </section>

  <section class="container">
    {% if services_page_fields.services_list_title %}
      <h2 class="mb-12">{{services_page_fields.services_list_title}}</h2>
    {% endif %}

    {% if services %}
      {% for service in services %}
        {% include "@components/teaser/teaser-service/teaser-service.twig" with { service: get_post(service) } %}
      {% endfor %}
    {% endif %}
  </section>

	{% for section in sections %}
    {% include '@sections/' ~ section.acf_fc_layout ~ '/' ~ section.acf_fc_layout ~ '.twig' ignore missing %}
  {% endfor %}
{% endblock %}
