{#
 # Template for a header.
 #
 # @version 1.0.0
 #
 # @var post	The Timber Post object.
 #}

<header class="section-{{ section.acf_fc_layout }} mt-12 section-{{ section.acf_fc_layout }}-{{ section.post_type }} grid grid-cols-1 lg:grid-cols-3 gap-10 mb-12">
  <div class="col-span-2 lg:col-start-2">    
    <h1 class="section-{{ section.acf_fc_layout }}__title h2 mb-6 section-{{ section.acf_fc_layout }}-{{ section.post_type }}__title">{{ section.title }}</h1>

    {% if post.thumbnail %}
      <img src="{{TimberImage(post.thumbnail.id).src}}" alt="{{TimberImage(post.thumbnail.id).alt}}" loading="lazy" />
    {% endif %}
  </div>
</header>
