{#
 # Template for the site header.
 #}

{% set header_cta = site.header_cta %}
<header class="{{dark ? 'site-header--dark' : ''}}">
	<section class="site-header container mx-auto {{ fn('is_admin_bar_showing') ? 'admin-bar-showing' : '' }}">
		<a class="site-header__brand" href="/">{% include 'assets/images/logo.svg' %}</a>

		<nav id="site-header__nav-wrap" class="site-header__nav-wrap js-site-header__nav-wrap">
			{% include '@components/nav/nav-desktop/nav-desktop.twig' with {
					nav_items: menu.desktop.get_items,
				} %}
		</nav>

		{% include '@components/nav/nav-mobile/nav-mobile.twig' with {
					nav_items: menu.desktop.get_items,
		} %}

		<div class="site-header__cta">
			<a class="btn" href="{{header_cta.url}}" target="{{header_cta.target}}">{{header_cta.title}}</a>
		</div>
	</section>
</header>
