{% extends '@sections/section/section.twig' %}

{% block section_content %}
  <div class="container mb-8 md:mb-20 feed">
    <h2 class="mb-4">{{section.title}}</h2>

    {% include "@components/separator/separator.twig" with { classes: 'mb-12' } %}

    <div class="feed__posts grid lg:grid-cols-2 lg:gap-12">
      {% for item in section.posts %}

        {% if loop.index == 1 or loop.index == 2 %}
          {% if loop.index == 2 %}
            {% set classes = 'feed__post--second mb-4 lg:mb-0' %}
          {% else %}
            {% set classes = 'mb-4 lg:mb-12' %}
          {% endif %}

          <div class="feed__post {{classes}}">
            {% include '@components/teaser/teaser-post/teaser-post.twig' with { post: get_post(item) } %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="grid lg:grid-cols-3 mb-8">
      {% for item in section.posts %}
        {% if loop.index == 3 %}
          <div class="feed__post lg:col-start-2 lg:mt-12">
            {% include '@components/teaser/teaser-post/teaser-post.twig' with { post: get_post(item) } %}

            {% if section.archive_url and section.post_count == 3 %}
              <a href="{{section.archive_url}}" class="btn btn--outline mt-10">{{__('All posts', 'turvasatama-theme')}}</a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="feed__posts grid lg:grid-cols-2 lg:gap-12">
      {% for item in section.posts %}

        {% if loop.index == 4 or loop.index == 5 %}
          {% if loop.index == 5 %}
            {% set classes = 'feed__post--second mb-4 lg:mb-0' %}
          {% else %}
            {% set classes = 'mb-4 lg:mb-12' %}
          {% endif %}

          <div class="feed__post {{classes}}">
            {% include '@components/teaser/teaser-post/teaser-post.twig' with { post: get_post(item) } %}

            {% if section.archive_url and section.post_count == 5 and loop.index == 5 %}
              <a href="{{section.archive_url}}" class="btn btn--outline mt-30">{{__('All posts', 'turvasatama-theme')}}</a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
